[run]
omit =
    *venv/*
    conftest.py
    */tests/*
    *__init__.py*
    *settings.py*
    */migrations/*
    */config/*

[report]
omit =
   *venv/*
   conftest.py
   */tests/*
   *__init__.py*
   *settings.py*
   */migrations/*
   */config/*