[flake8]

exclude=
    __pycache__,

    .gitignore,
    .venv/,
    documentation/,
    config/settings/,
    requirements.txt,
    manage.py,
    README.md

max-line-length = 119
max-doc-length = 119

max-complexity = 10